<div class="container-fluid p-5">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="container form-group">
      <div class="row header align d-flex">FORM</div>
      <div class="row mt-2">
        <input
          type="text"
          name="name"
          placeholder="Enter Name..."
          class="form-control"
          ngModel
          #name="ngModel"
          (change)="getVal(name)"
          required
          [title]="
            name.touched && name.invalid
              ? 'Field cant be empty'
              : 'Enter your name'
          "
          [ngClass]="{
            'is-invalid': name.touched && name.invalid,
            'is-valid': name.touched && name.valid
          }"
        />
      </div>
      <div class="row mt-2">
        <input
          type="email"
          pattern="^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$"
          name="email"
          placeholder="Enter email..."
          class="form-control"
          ngModel
          #email="ngModel"
          (change)="getVal(email)"
          required
          [title]="
            email.touched && email.invalid
              ? 'Field cant be empty'
              : 'Enter your Email Address'
          "
          [ngClass]="{
            'is-invalid': email.touched && email.invalid,
            'is-valid': email.touched && email.valid
          }"
        />
      </div>
      <div class="row mt-2">
        <input
          type="text"
          name="pass"
          placeholder="Enter Password"
          class="form-control"
          ngModel
          #pass="ngModel"
          required
          (change)="getVal(pass)"
          [ngClass]="{
            'is-invalid': pass.touched && pass.invalid,
            'is-valid': pass.touched && pass.valid
          }"
          [title]="
            pass.touched && pass.invalid
              ? 'Field cant be empty & Password Must be min 8 max 12 characters Long'
              : 'Enter your Password'
          "
          minlength="8"
          maxlength="12"
        />
      </div>
      <div class="row mt-2">
        <input
          type="text"
          name="c-pass"
          placeholder="Enter Confirm Password"
          class="form-control"
          ngModel
          #cpass="ngModel"
          required
          (change)="getVal(cpass)"
          [ngClass]="{
            'is-invalid':
              cpass.touched && (cpass.invalid || pass.value != cpass.value),
            'is-valid': cpass.touched && cpass.valid
          }"
          [title]="
            cpass.touched && cpass.invalid
              ? 'Field cant be empty & Password Must be min 8 max 12 characters Long'
              : 'Enter your Password'
          "
          minlength="8"
          maxlength="12"
        />
      </div>
      <div class="row mt-2">
        <textarea
          type="text"
          name="addr"
          placeholder="Enter Address.."
          class="form-control"
          ngModel
          #addr="ngModel"
          required
          (change)="getVal(addr)"
          [ngClass]="{
            'is-invalid': addr.touched && addr.invalid,
            'is-valid': addr.touched && addr.valid
          }"
          [title]="
            addr.touched && addr.invalid
              ? 'Address is Invalid'
              : 'Enter the address'
          "
        ></textarea>
      </div>
      <div class="row mt-4">
        <button type="submit" class="btn btn-warning">SUBMIT</button>
      </div>
    </div>
  </form>
</div>
